/* this is a comment in CSS */
/* classes start with a "." and id's start with a "#" */
/* you can add as many styling properties to your classes/id's as you want */
/* each property should be formatted like this. each property should go on it's own line: name_of_property: value; */


/*font-family: 'Press Start 2P', cursive;*/

.videos {
	width: 700px;
	height: 400px;
}

li a {
	color: #4BE0FF;
}

.list {
	font-size: 200%;
}

body {
	background: url('../images/background.png') top left repeat-x, url("../images/mine_background.png") bottom left repeat-x;
}

#video_game1 {
	width: 920px;
	height: 670px;
	overflow: hidden;
	margin-left: -220px;
	margin-top: -135px;
}
#video_game2 {
	width: 825px;
	height: 825px;
	overflow: hidden;
	margin-left: -170px;
	margin-top: -375px;
}
.video_game_div {
	max-width: 1000px;
	overflow: hidden;
	margin: 10px 0px 30px 0px; /*top right bottom left*/
}